.hero-banner {
    background: url('https://res.cloudinary.com/dl5qdefoi/image/upload/v1733132442/Diana/ypvhf7zqpu0folvwhffx.jpg') no-repeat center center;
    background-size: cover;
    color: black;
    text-align: center;
    padding: 100px 20px;
}
.hero-banner h1 {
    font-size: 3rem;
    font-weight: bold;
}
.hero-banner p {
    font-size: 1.2rem;
}
.product-card img {
    height: 200px;
    object-fit: cover;
}
.testimonial-card {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}