.hero-section {
    background: url('https://res.cloudinary.com/dl5qdefoi/image/upload/v1733132664/Diana/tqh1ktyrm8k65dbnodeo.jpg') no-repeat center center;
    background-size: cover;
    color: black;
    text-align: center;
    padding: 100px 20px;
}
.hero-section h1 {
    font-size: 3rem;
    font-weight: bold;
}
.hero-section p {
    font-size: 1.2rem;
}